* {
    margin: 0;
    padding: 0;
}

.mainbox {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: 3rem auto;
    perspective: 600px;
    background: linear-gradient(67deg, yellow, green);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    width: 200px;
    height: 200px;
    position: relative;
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg);
    top: 50%;
    left: 50%;
    transition: all 3s ease;
    transform-style: preserve-3d;
}

.mainbox:hover > .main {
    transform: translate(-50%, -50%) rotateX(360deg) rotateY(360deg);
}

.box {
    position: absolute;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: rgba(187, 255, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Faces of cube */
.b1 {
    transform: translateZ(100px);
}
.b2 {
    transform: rotateY(180deg) translateZ(100px);
}
.b3 {
    transform: rotateY(90deg) translateZ(100px);
}
.b4 {
    transform: rotateY(-90deg) translateZ(100px);
}
.b5 {
    transform: rotateX(90deg) translateZ(100px);
}
.b6 {
    transform: rotateX(-90deg) translateZ(100px);
}
