
.main-container {
    height: 100vh;
    width: 100%;
}

.main-container>.content>.container {
    height: auto;
    display: grid;
    grid-template-columns: 30% auto;
}

.slider {
    height: 100%;
}

.slider-options {
    list-style: none;
}

.slider-options .option {
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.slider-options .option:hover {
    background-color: var(--bs-warning);
}

.keeper-body {
    padding: 2rem;
}

.action {
    display: flex;
    justify-content: center;
}

.add-notes-pop-up {
    display: none; /* hidden initially */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    z-index: 1000;
}
.add-notes-pop-up.active {
    display: block;
}


.add-notes-pop-up>.add-notes-form {
    z-index: 99;
    width: 500px;
    height: 500px;
    background-color: var(--bs-light);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
